.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.submit{
    background-color: hsl(213, 19%, 18%);
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
}
h1{
     color:white;
    padding-left: 20px;
}
p{
     color: hsl(216, 12%, 54%);
}
.rating-btn{
    text-decoration: none;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    background-color: hsl(222, 12%, 22%);
    color: hsl(216, 12%, 54%);
}

.submit p{
    padding:0px 20px 0px 20px;
}
.rating{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.submit-btn{
    margin-top: 20px;
    margin-left: 20px;
    background-color: orange;
    width: 85%;
    height: 35px;
    border-radius: 25px;
    border:none;
    color: white;
}